{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<section id="contact-us">
	<div class="container">
		<div class="row">
				<div class="block wow fadeInLeft" data-wow-delay="600ms">
					<h3>{{ with site.Params.footer.contactInfoTitle }} {{ . | safeHTML }} {{ end }}</h3>
					<div class="info">
						<ul class="horizontal-list">
							{{ range site.Params.footer.contactItem }}
							<li>
								<h4><i class="{{.icon}}"></i>{{ .title }}</h4>
								<p>{{ .content | markdownify }}</p>
							</li>
							{{end}}
							<div class="follow">
								<div class="block wow fadeInLeft" data-wow-delay="600ms">
									<div class="social-media-link">
										<h4><i style="color:#555; margin-right: 30px;" class="fa fa-users"></i>{{ with site.Params.footer.socialTitle }} {{ . | safeHTML }} {{ end }}</h4>
										<ul style="margin-left: 20px;">
											{{ range site.Params.footer.socialLink }}
											<li><a href="{{ .link | safeURL }}"><i class="fa fa-{{ .icon }}"></i></a></li>
											{{ end }}
										</ul>
									</div>
								</div>
							</div>
						</ul>
					</div>
				</div>
		</div><!-- .row close -->
	</div><!-- .containe close -->
</section><!-- #contact-us close -->
{{end}}
{{end}}